.cards {
    display: flex;
    justify-content: space-between;

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;

    flex-wrap: wrap;

}

.CardOpcao {
    width: fit-content;
    height: fit-content;

    overflow: hidden;

    border-radius: 10px;

    transform: scale(1);
    transform: rotate(0);
    transition: .5s;
    user-select: none;

    border: 2px solid var(--Terciaria);
    cursor: pointer;

    margin-bottom: 30px;
}

.CardOpcao:hover {
    transform: scale(1.1);
    transform: rotate(-15deg);
}

.CardOpcao .Image {
    min-height: 150px;
    min-width: 150px;
    user-select: none;
}

.CardOpcao .imagemContainer {
    min-width: 248px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(255, 255, 255);

}

.CardOpcao .Texto {
    border-top: 2px solid var(--Terciaria);
    text-align: center;
    margin: 0;
    color: var(--Textos);
    background: var(--Segundaria);
    user-select: none;
}
